<h1>New game</h1>

<div>
  <h3>Hello, here's your letters :</h3>
  <ul>
    <div class="letter">
    <% @letters.each do |letter| %>
      <li style="display:inline"><%= letter %></li>
    <% end %>
    </div>
  </ul>
</div>

<div>
  <form action="/score" method="post" data-turbo="false">
    <h3>What's the longest word your can find ?</h3>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="text" name="word" placeholder="your word">
    <input class="btn" type="submit" value="play">
  </form>
</div>
