<h1>The longest word game</h1>

<div>
  <form action="/new" method="get">
    <h3>Wanna play ? Enter your pseudo :</h3>
    <input type="text" name="user" placeholder="your pseudo">
    <input class="btn" type="submit" value="Let's go">
  </form>
</div>
