body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block {
  text-align: center;
  margin: 0 auto;
}
h1 {
  color : #E76D83;
}
h3 {
  color: #C98CA7;
}
div {
  padding: 60px;
}
.letter {
  background-color: #9CC4B2;
  font-size: 30px;
  color: #393D3F;
  width: 700px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
li {
  padding: 10px;
}
li:hover {
  color:white;
}
.btn {
  border-color: #9CC4B2;;
  background-color: #9CC4B2;
}
.link {
  margin: 40px;
  padding: 15px;
  background-color: #9CC4B2;
  color: white;
  text-decoration: none;
}
.link:hover {
  border-radius: 20px;
  color: white;
}
